################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Count Real Number/bin/Debug
/Count Real Number/obj/Debug
/.vs
/Count Real Number/obj/Release
